
<footer>
    <div class="uk-div-footer">
        <div class="uk-div-content">

            <div class="uk-footer-columns first">
                <div class="uk-footer-wrap">
                    <div class="uk-footer-wrap-inside">
                        <h3 class="uk-footer-wrap-inside-title">
                            <span>Contactanos</span>
                        </h3>
                        <div class="uk-footer-container">
                            <ul>
                                <li>
                                    <img src="MasterPages/Images/phone-gris.png" class="uk-footer-icon">
                                    <h4>0800-222-5366</h4>
                                </li>
                                <div class="uk-div-clear"></div>
                            </ul>
                            <ul class="social-list">
                                <li><a class="facebook" href="https://www.facebook.com/UniversidadKennedy?fref=ts" target="_blank"><img src="MasterPages/Images/facebook.png" class="ukFooterSocialIcon"></a></li>
                                <li><a class="twitter" href="https://twitter.com/KennedyNoticias" target="_blank"><img src="MasterPages/Images/twitter.png" class="ukFooterSocialIcon"></a></li>
                                <li><a class="youtube" href="https://www.youtube.com/user/UniversidadKennedy" target="_blank"><img src="MasterPages/Images/youtube.png" class="ukFooterSocialIcon"></a></li>
                                <li><a class="linkedin" href="https://ar.linkedin.com/edu/universidad-argentina-%27john-f.-kennedy%27-10089" target="_blank"><img src="MasterPages/Images/linked_in.png" class="ukFooterSocialIcon"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-footer-columns">
                <div class="uk-footer-wrap">
                    <div class="uk-footer-wrap-inside">
                        <h3 class="uk-footer-wrap-inside-title">
                            <span>Atención Integral al Alumno</span>
                        </h3>
                        <div class="uk-footer-wrap-inside">
                            <div class="uk-footer-container">
                                <ul>
                                    <li><div class="uk-footer-wrap-inside-subTitle"><span>Consultas Académicas</span></div></li>
                                    <li><img src="MasterPages/Images/mailGris.png" class="uk-footer-icon-mail"><a href="mailto:mecentral@kennedy.edu.ar">mecentral@kennedy.edu.ar</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-footer-wrap-inside">
                            <div class="uk-footer-container">
                                <ul>
                                    <li><div class="uk-footer-wrap-inside-subTitle"><span>Consultas Administrativas</span></div></li>
                                    <li><img src="MasterPages/Images/mailGris.png" class="uk-footer-icon-mail"><a href="mailto:admin@kennedy.edu.ar">admin@kennedy.edu.ar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-footer-columns last">
                <div class="uk-footer-wrap">
                    <div class="uk-footer-wrap-inside">
                        <h3 class="uk-footer-wrap-inside-title">
                            <span>Servicios Informáticos</span>
                        </h3>
                        <div class="uk-footer-container">
                            <ul>
                                <li><img src="MasterPages/Images/phone-gris.png" class="uk-footer-icon">4371-4009</li>
                                <li><img src="MasterPages/Images/mailGris.png" class="uk-footer-icon-mail"><a href="mailto:mesadeayuda@kennedy.edu.ar">mesadeayuda@kennedy.edu.ar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="uk-div-comodo-secure">
                        <img src="MasterPages/Images/comodo_secure_seal_76x26_transp.png" id="ctl00_Img2" title="Comodo Secure" alt="Comodo Secure">
                    </div>
                </div>
            </div>

            <div class="uk-div-clear"></div>
        </div>
    </div>
</footer>