.uk-div-header {
    background-color: #edefef;
    background-image: none;
    background-repeat: inherit;
    background-attachment: scroll;
    height: 76px;
    background-size: cover;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4) !important;
}

    .uk-div-header .uk-div-container .uk-div-iso-logotipo {
        padding: 10px 0px 10px 0px;
        width: 522px;
        float: left;
    }

.uk-div-content {
    padding: 4px 0px 50px 0px;
    width: 522px;
    float: left;
}

.uk-span-input-text-label {
    border: 0px;
    font-size: 13px;
    margin: 50px auto 10px;
    color: gray;
    position: relative;
    bottom: 4px;
}

.uk-button-login {
    font-family: Calibri;
    font-size: 14px;
    border-radius: 0;
    background-color: #353739;
    border-color: #353739;
    color: #fff;
    margin-top: 10px;
    height: 36px;
    border: 0px;
    padding: 0px;
}

.uk-input-text {
    background-color: white;
    border-radius: 0;
}

.uk-div-footer {
    background-color: #353739;
    background-image: none;
    background-attachment: fixed;
    background-size: cover;
    z-index: 300;
    position: relative;
    border-bottom: 1px solid #464647;
}

    .uk-div-footer .uk-div-content {
        width: 1000px;
        color: #d5d5d5;
        font-size: 14px;
        clear: both;
        margin: 0 auto !important;
        padding: 10px 0 10px 0;
    }

        .uk-div-footer .uk-div-content .first {
            width: 25%;
            float: left;
            margin-right: 5%;
        }

        .uk-div-footer .uk-div-content .last {
            width: 25%;
            float: left;
            margin-right: 0;
        }

.uk-footer-columns {
    width: 35%;
    float: left;
    margin-right: 5%;
}

.uk-div-clear{
    clear: both;
}

.uk-footer-wrap-inside {
        margin-bottom: 25px;
}

.uk-footer-wrap-inside-title {color: #d5d5d5;
    border-bottom: 1px solid #B7B4B4;
}

.social-list{
    display: table;
    margin-top: 40px;
}

.bootstrap-data-detail{
    cursor: pointer;
    margin-right: 10px;
    color: #6f90f1;
    font-size: 29px;
}

.bootstrap-data-continue{
    cursor: pointer;
    color: #45af24;
    font-size: 29px;
}

.bootstrap-data-detail-disabled{
    margin-right: 10px;
    color: #dadada;
    font-size: 29px;
}

.bootstrap-data-comment-button{
    background-color: #c3c3c3;
    color: white;
    border-radius: 50%;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    margin-left: -25px;
}

.bootstrap-data-reassign-button{
    background-color: #32b88b;
    color: white;
    border-radius: 50%;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

.uk-upload-photo{
    cursor: pointer;
    color: #6f90f1;
    font-size: 20px;
}

.uk-user-reassign-list-container{
    height: 400px;
    background: #f8fdff;
    overflow-y: auto;
}

.uk-user-reassign-list{
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
}

.uk-user-reassign-check{
    float: left;
    margin-top: 23px;
    margin-right: 10px;
    cursor: pointer;
}

.uk-user-reassign-item-container{
    width: 100%;
    height: 80px;
    position: relative;
    cursor: pointer;
}

.uk-user-reassign-item{
    background-color: white;
    border: 1px solid #bce8f1;
    border-radius: 5px;
    float: left;
    width: 92%;
    padding: 9px;
    margin-bottom: 23px;
}

.uk-user-reassign-item .nombre{
    font-size: 16px;
    font-weight: bold;
    color: #31708f;
}

.uk-user-reassign-item .grupoAsignado{
    font-size: 12px;
    /* margin-left: 15px; */
    color: grey;
}

.btn-finish{
    background-color: #00067d;
}

.recibo-list-container{
    border-radius: 5px;
    border: #cecece 1px solid;
    height: 400px;
}

.recibo-list-container{
    padding: 10px;
    overflow: auto;
}
.recibo-container{
    BACKGROUND: #e4e1e1;
    padding: 8px;
    height: 115px;
    width: 100%;
    border-radius: 7px;
    display: block;
    margin-bottom: 10px;
}

.recibo-item-title{    
    color: #337ab7;
    font-weight: bold;    
}

.recibo-item-value{

}

.recibo-item-pdf{
    height: 97px;
    width: 112%;
    /* border-radius: 6px; */
    /* background: white; */
    border-right: 2px #b1b1b1 solid;
}

.invoice-img{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/file-invoice.svg);
    background-repeat: no-repeat;
    background-size: 37px;
    background-position: 33px;
    cursor: pointer;
}

.app-modal-window .modal-dialog {
    width: 80%;
  }