<!DOCTYPE html>

<head>
    <title>Novedades</title>
    <div ng-include ng-controller="headerController as header" src="'app/components/main/header.html'"></div>
</head>

<body>
    <div data-ng-init="vm.init()" class="row">
        <div class="col-md-11 col-centered">
            <h2>Novedades</h2>
        </div>
        <div class="row">
            <div class="col-md-11 col-centered">
                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-target="#SUELDOS" style="cursor: pointer;" data-toggle="tab">SUELDOS</a></li>
                            <li><a data-target="#VACACIONES" style="cursor: pointer;" data-toggle="tab">VACACIONES</a></li>
                            <li><a data-target="#LICENCIAS" style="cursor: pointer;" data-toggle="tab">LICENCIAS</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="SUELDOS">
                                <div class="row">
                                    <div class="col-md-12 col-centered">
                                        <div id="administracionGrid">

                                            <table id="sueldoList_ResultTable" data-search="true" data-striped="true" data-filter-control="true" bs-table-control="bsTableControl">
                                                <thead>
                                                    <tr>
                                                        <!--<th data-checkbox="false"></th>-->
                                                        <th data-field="Codigo" data-visible="false" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Código</th>
                                                        <th data-field="Usuario" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Usuario</th>
                                                        <th data-field="FechaIni" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Fecha
                                                            inicio</th>
                                                        <th data-field="FechaFin" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Fecha
                                                            fin</th>
                                                        <th data-field="Dias" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Cant.
                                                            días</th>
                                                        <th data-field="Dtipo" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Tipo</th>
                                                        <th data-field="Dcausal" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Causal</th>
                                                        <th data-field="Detalle" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Detalle</th>
                                                        <th data-field="Medico" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Médico</th>
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="VACACIONES">
                                <div class="row">
                                    <div class="col-md-12 col-centered">
                                        <div id="administracionGrid">

                                            <table id="vacacionesList_ResultTable" data-search="true" data-striped="true" data-filter-control="true" bs-table-control="bsTableControl">
                                                <thead>
                                                    <tr>
                                                        <!--<th data-checkbox="false"></th>-->
                                                        <th data-field="Codigo" data-visible="false" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Código</th>
                                                        <th data-field="Usuario" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Usuario</th>
                                                        <th data-field="FechaIni" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Fecha
                                                            inicio</th>
                                                        <th data-field="FechaFin" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Fecha
                                                            fin</th>
                                                        <th data-field="Dias" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Cant.
                                                            días</th>
                                                        <th data-field="Dtipo" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Tipo</th>
                                                        <th data-field="Dcausal" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Causal</th>
                                                        <th data-field="Detalle" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Detalle</th>
                                                        <th data-field="Medico" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Médico</th>
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="LICENCIAS">
                                <div class="row">
                                    <div class="col-md-12 col-centered">
                                        <div id="administracionGrid">

                                            <table id="licenciaList_ResultTable" data-search="true" data-striped="true" data-filter-control="true" bs-table-control="bsTableControl">
                                                <thead>
                                                    <tr>
                                                        <!--<th data-checkbox="false"></th>-->
                                                        <th data-field="Codigo" data-visible="false" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Código</th>
                                                        <th data-field="Usuario" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Usuario</th>
                                                        <th data-field="FechaIni" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Fecha
                                                            inicio</th>
                                                        <th data-field="FechaFin" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Fecha
                                                            fin</th>
                                                        <th data-field="Dias" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Cant.
                                                            días</th>
                                                        <th data-field="Dtipo" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Tipo</th>
                                                        <th data-field="Dcausal" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Causal</th>
                                                        <th data-field="Detalle" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Detalle</th>
                                                        <th data-field="Medico" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Buscar">Médico</th>
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>